<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
</div>
<div>
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/krakow']">Krakow</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/los-angeles']">Los Angeles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/palmspring']">Palm Spring</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/seattle']">Seattle</a>
    </li>
  </ul>
</div>


  <router-outlet></router-outlet>
