<div class ="container">
   <h4>These pets are looking for a home!</h4>
   <a [routerLink]="['/pets/new']">Add a pet to the shelter</a>
   <table class="table table-bordered">
      <thead>
         <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Actions</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let pet of pets">
            <th>{{ pet.name }}</th>
            <td>{{ pet.type }}</td>
            <td><button [routerLink]="['/pets', pet._id]">Details</button> | <button [routerLink]="['/pets/edit', pet._id]">Edit</button></td>
         </tr>  
      </tbody>
   </table>






</div>